.main {
  width: 100%;
  padding: 10px;
  min-height: 60px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.settingBtn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #2e9ec3;
  user-select: none;
  font-size: 18px;
}

.popoverMain {
  width: 200px;
  padding: 8px 0px;
}

.formItme {
  display: flex;
  align-items: center;
}

.label {
  line-height: 100%;
  text-align: right;
  min-width: 100px;

  &::after {
    content: ':';
    position: relative;
    margin-block: 0;
    margin-inline-start: 2px;
    margin-inline-end: 8px;
  }
}
