.main {
  width: 100%;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.message {
  display: flex;
  position: relative;
}

.user {
  justify-content: flex-end;

  .content {
    background-color: #2e9ec3;

    &::after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: #2e9ec3;
      position: absolute;
      top: 50%;
      right: -3px;
      transform: translateY(-50%) rotate(45deg);
      z-index: -1;
    }
  }
}

.assistant {
  justify-content: flex-start;

  .content {
    background-color: #2ec37e;

    &::after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: #2ec37e;
      position: absolute;
      top: 50%;
      left: -3px;
      transform: translateY(-50%) rotate(45deg);
      z-index: -1;
    }
  }
}

.content {
  color: #fff;
  border-radius: 10px 10px 10px 10px;
  max-width: calc(100% - 50px);
  display: inline-block;
  height: 100%;
  line-height: 24px;
  z-index: 20;
  word-wrap: break-word;
}

.contentBody {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  min-height: 44px;
  min-width: 44px;
}
